@{
    ViewData["Title"] = "AddEvent";
}
@model Event
<div>
    <img src="~/images/AddEvent.png" alt="Add Event Place Holder">
    <div class="form-group">
        <label asp-for="  Name">Title:</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="  Description">Description:</label>
        <input type="text" asp-for="Description" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="  DueDate">Event Date:</label>
        <input type="text" asp-for="DueDate" class="form-control">
    </div>
</div>
<form asp-action="Add" method="post">
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
