@{
    ViewData["Title"] = "Homework";

}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> Homework</title>
    </head>
    <body>
        <h1>Homework</h1>
    </body>
    <body>

        <form id="form1" runat="server">

            <asp:Calendar id="calendar1" runat="server">

                <OtherMonthDayStyle ForeColor="LightGray">
                </OtherMonthDayStyle>

                <TitleStyle BackColor="Blue"
                            ForeColor="White">
                </TitleStyle>

                <DayStyle BackColor="gray">
                </DayStyle>

                <SelectedDayStyle BackColor="LightGray"
                                  Font-Bold="True">
                </SelectedDayStyle>

            </asp:Calendar>

        </form>

    </body>
</html>