@{
    ViewData["Title"] = "Login Screen";
}

<div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile"><img src="~/images/LogInScreenPlaceHolder.png" alt="Login Screen Place Holder"></a>
</div>