@page
@model LoginModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<h2>Login</h2>


<form method="post">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" name="Email" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="Password" required>
    </div>
</form>
<form asp-controller="Home" asp-action="Profile">
    <button type="submit" class="btn btn-primary btn-sm"> Login </button>
</form>