@{
    ViewData["Title"] = "Profile";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
    <h1>User Information</h1>
    <p>Name: Max De Santiago</p>
    <p>Email: Desantmo@mail.uc.edu</p>
    <p>Token: ABC123XYZ</p>
</body>
<head>How To Find Your Canvas Token</head>
<img src="~/images/CanvasTokenSteps.png" alt="Canvas Steps" style="width:900px;height:600px;">>
</html>