@model EventViewModel
@{
    ViewData["Title"] = "Add Class";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Add New Class</title>
    <style>
        /* add CSS styles here */
    </style>
</head>
<body>
    <h1>Add New Class</h1>
    <form asp-action="InputClass" method="post">
        <div>
            <label asp-for="CurrentClass.ClassName">Class Name:</label>
            <input asp-for="CurrentClass.ClassName" required/>
        </div>
        <div>
            <label asp-for="CurrentClass.ClassDescription">Class Description:</label>
            <input asp-for="CurrentClass.ClassDescription" required/>
        </div>
        <div>
            <label asp-for="CurrentClass.MeetingTime">Meeting Time:</label>
            <input asp-for="CurrentClass.MeetingTime"  min="2023-04-09T23:59" max="2023-04-15T23:59"/>
        </div>
        <div>
                <button type="submit" class="btn btn-primary">Add</button>


        <!-- Needs to be changed to only appear if the user selects Set Time
    <div>
        <label asp-for="CurrentEvent.EventTime">Event Time:</label>
        <input asp-for=" CurrentEvent.EventTime">
    </div>
        -->
        <!--
    <div>
        <label asp-for="EventTime">Event Start:</label>
        <input asp-for="EventTime" />
    </div> -->


            <a asp-controller="Event" asp-action="Classes" class="btn btn-primary">Return to Classes</a>
        </div>
    </form>
</body>
</html>

