@model EventViewModel
@{
    ViewData["Title"] = "Add Event";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>Add New Event</title>
        <style>
            /* add CSS styles here */
        </style>
    </head>
    <body>
        <h1>Add New Event</h1>
        <form asp-action="Add" method="post">
            <div>
                <label asp-for="CurrentEvent.EventLabel">Event Label:</label>
                <input type="text" asp-for="CurrentEvent.EventLabel" minlength="5" maxlength="14" required />
            </div>
            <div>
                <label asp-for="CurrentEvent.EventDescription">Description:</label>
                <input asp-for="CurrentEvent.EventDescription" minlength="4" maxlength="30" required />
            </div>
            <div>
                <label asp-for="CurrentEvent.EventLength">Length (In Hours):</label>
                <input type="number" asp-for="CurrentEvent.EventLength" min=".25" step=".01" max="6" required />
            </div>

            <div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
                <script>
                    $(function () {
                        $('#gridCheck1').change(function () {

                            myFunction();
                        });
                    });
                    $(document).ready(function () {
                        myFunction();
                    });

                    function myFunction() {
                        $('#ShowHideMe').toggle($('#gridCheck1').is(':checked'));
                    }
                </script>
            </div>
            <div>
                <label asp-for="CurrentEvent.SetTime">Set Time?</label>
                <input type="checkbox" name="yourPropertyName" id="gridCheck1" value="false" unchecked />
            </div>
            <div id="ShowHideMe" style="display:none">
                <label asp-for="CurrentEvent.EventTime">Event Time:</label>
                <input asp-for=" CurrentEvent.EventTime" min="2023-04-01T23:59" max="2023-12-31T23:59">
            </div>
            <div>
                <label asp-for="CurrentEvent.DueDate">Due Date?:</label>
                <input asp-for=" CurrentEvent.DueDate" min="2023-04-18T00:00:00" max="2023-12-31T23:59">
            </div>


            <!--
    <div>
        <label asp-for="EventTime">Event Start:</label>
        <input asp-for="EventTime" />
    </div> -->

            <div>
                <button type="submit" class="btn btn-primary">Add</button>
                <a asp-controller="Event" asp-action="Homework" class="btn btn-primary">Return to Homework page</a>
            </div>
        </form>
    </body>
</html>

